{% extends "esqueleto.html" %}

{% block contenido %}
<h1>Nueva conversación</h1>
<form id="frmNuevoChat" method="post" action="/chats/nuevo" onsubmit="return check()">
    <label for="edUsuario">Indica el email del usuario con el que quieres comenzar un chat: </label>
    <input type="text" id="edUsuario" name="edUsuario"/>

    <button type="submit" class="btn btn-success">Confirmar</button>
</form>

<script>
    function check(){
        return document.getElementById("edUsuario").value.trim().length > 0;
    }
</script>
{% endblock %}